.container {
    border: solid 1px gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.publisherphoto {
    width: 5rem;
    height: 5rem;
}
.publisherphotocon {
    padding-left: 40%;
}
a {
    padding-top: 0px;
}